In [0]:
data = [("James","M",60000),("Michael","M",70000),
        ("Robert",None,400000),("Maria","F",500000),
        ("Jen","",None)]

columns = ["name","gender","salary"]
df = spark.createDataFrame(data = data, schema = columns)
df.show()

+-------+------+------+
|   name|gender|salary|
+-------+------+------+
|  James|     M| 60000|
|Michael|     M| 70000|
| Robert|  null|400000|
|  Maria|     F|500000|
|    Jen|      |  null|
+-------+------+------+

In [0]:
df.select("name","salary",when(df.gender == 'M',"Male").when(df.gender == 'F',"Female").otherwise("Unknown").alias("Gender")).show()

+-------+------+-------+
|   name|salary| Gender|
+-------+------+-------+
|  James| 60000|   Male|
|Michael| 70000|   Male|
| Robert|400000|Unknown|
|  Maria|500000| Female|
|    Jen|  null|Unknown|
+-------+------+-------+

In [0]:

df.createOrReplaceTempView("EMP")
spark.sql("select name, CASE WHEN gender = 'M' THEN 'Male' " + 
               "WHEN gender = 'F' THEN 'Female' WHEN gender IS NULL THEN ''" +
              "ELSE gender END as new_gender from EMP").show()

+-------+----------+
|   name|new_gender|
+-------+----------+
|  James|      Male|
|Michael|      Male|
| Robert|          |
|  Maria|    Female|
|    Jen|          |
+-------+----------+